@charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors

$my-black:        hsl(0, 0%, 4%);
$my-black-bis:    hsl(0, 0%, 7%);
$my-black-ter:    hsl(0, 0%, 14%);

$my-grey-darker:  hsl(210, 21%, 21%);
$my-grey-dark:    hsl(210, 21%, 29%);
$my-grey:         hsl(210, 21%, 48%);
$my-grey-light:   hsl(210, 21%, 71%);
$my-grey-lighter: hsl(210, 21%, 86%);
$my-grey-lightest:hsl(210, 21%, 93%);

$my-white-ter:    hsl(210, 50%, 96%);
$my-white-bis:    hsl(210, 50%, 98%);
$my-white:        hsl(210, 50%, 100%);

$my-orange:       hsl(29,  100%, 53%);
$my-yellow:       hsl(45,  100%, 77%);
$my-green:        hsl(142, 80%,  53%);
$my-turquoise:    hsl(168, 78%, 41%);
$my-cyan:         hsl(196, 100%, 69%);
$my-blue:         hsl(212, 66%, 15%);
$my-purple:       hsl(243, 100%, 68%);
$my-red:          hsl(338, 100%, 61%);

// ***************************************************

$black: $my-black;
$black-bis: $my-black-bis;
$black-ter: $my-black-ter;

$grey-darker: $my-grey-darker;
$grey-dark: $my-grey-dark;
$grey: $my-grey;
$grey-light: $my-grey-light;
$grey-lighter: $my-grey-lighter;
$grey-lightest: $my-grey-lightest;

$white-ter: $my-white-ter;
$white-bis: $my-white-bis;
$white: $my-white;

$orange: $my-orange;
$yellow: $my-yellow;
$green: $my-green;
$turquoise: $my-turquoise;
$cyan: $my-cyan;
$blue: $my-blue;
$purple: $my-purple;
$red: $my-red;

// ***********************************************


// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;

$primary: $purple;

$info: $cyan;
$warning: $yellow;
$warning-light: hsl(45, 100%, 88%);
$danger: $green;
$danger-light: hsl(142, 80%, 76%);

$light: $white-ter;
$dark: $grey-darker;

$success: $blue;
$success-dark: 	hsl(212, 76%, 10%);
$success-light: 	hsl(209, 23%, 74%);

@import "../node_modules/bulma/bulma.sass";